/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #6f6f6f;
	--color-header: #2e2e2e;
	--color-background: #ffffff;
	--second-color-background: white; 
	--color-accent: #f3a5aa;
	--second-color-accent: #f7cdcf;
}

h2{
	font-family: "Sonny";
	font-weight: 100;
}

p, a{
	font-family: "Sonny";
}

/* Section 1 */
main section:nth-child(1){
    background-color: var(--second-color-accent);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	color: var(--color-background);

	height: 40em;
}

main section:nth-child(1) h1 img{
	width: 9em;
	height: auto;
}

main section:nth-child(1) p{
	font-weight: 500;
	font-size: .9em;
	text-align: center;
	line-height: 1.5em;

	margin-top: 3em;
	margin-bottom: 2em;

	width: 20em;
}

main section:nth-child(1) a{
	color: var(--color-background);
	text-transform: uppercase;
	font-size: .8em;

	border: solid;
	padding: .5em;

	width: fit-content;
}

main section:nth-child(1) a:first-of-type{
	margin-bottom: 5em;

	text-decoration: none;
	font-size: 0.6em;
	padding: 1em;
}

main section:nth-child(1) a:last-child{
	border-radius: 50%;
}

main section:nth-child(1) a:last-child svg{
	fill: white;
}


/* Section 2 */

/* met chatgpt prompt: hoe zoom ik in met :hover op een img maar ervoor zorgt dat het plaatje niet uitsteekt */
main section:nth-child(2) a{
	overflow: hidden;
	display: inline-block;
}

main section:nth-child(2) a img{
	width: 100%;
	height: auto;
	margin-top: 1em;

	transition: 0.3s ease;
}

main section:nth-child(2) a img:hover{
	transform: scale(1.1);
}

/* Section 3 */
main section:nth-child(3) a{
	text-decoration: none;
}

main section:nth-child(3) h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.7em;

	color: var(--color-header);
}

main section:nth-child(3) ul:first-of-type{
	list-style: none;
	padding: 0;

	justify-self: center;
	
	line-height: 2.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
}

main section:nth-child(3) ul:first-of-type li a{
	color: var(--color-text);
}

main section:nth-child(3) ul:first-of-type li:last-of-type a::after{
	content: '→';
	font-size: 1em;
}



/* carousel code van Sanne*/
main section:nth-child(3) ul:last-child{
	margin:0;
	padding:0;
	list-style-type:"";
	
	display:flex;
	gap:2em;
	overflow:auto;
	
	padding:2em;
	
	scroll-snap-type:x mandatory;
	
	scroll-behavior:smooth;
	
	overscroll-behavior-x:contain;

	cursor: pointer;
	
	anchor-name: --carousel;


	&::scroll-button(*) {
    position: fixed;
		
    position-anchor: --carousel;
		
    position-visibility: always;
    font-family: "Material Symbols Outlined";
  }

  &::scroll-button(right) {
     position-area: inline-end center;
		justify-self:end;
    content: '→' / 'Next';
	padding: 1em;

	/* eigen toegevoegde code */
	background-color: var(--color-background);
	border-radius: 10em;
	cursor: pointer;
  }

  &::scroll-button(left) {
    position-area: inline-start center;
		justify-self:start;
    content: '←' / 'Previous';
	padding: 1em;

	/* eigen toegevoegde code */
	background-color: var(--color-background);
	border-radius: 10em;
	cursor: pointer;
  }
}

main section:nth-child(3) ul:last-child li{
	/* flex-basis:16em; */
	aspect-ratio:1/1;
	
	flex-shrink:0;
	
	scroll-snap-align:center;
}


/* eigen code begint weer hier */
main section:nth-child(3) ul:last-child li{
	display: grid;
	grid-template-rows: 10em max-content 1fr 1fr;
}

main section:nth-child(3) ul:last-child li h3{
	text-align: center;
	font-size: 0.7em;
	color: var(--color-text);

	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 3;
}

main section:nth-child(3) ul:last-child li img{
	width: 11em;
	height: auto;

	grid-column-start:1;
	grid-column-end:-1;
	grid-row-start:1;
}

main section:nth-child(3) ul:last-child li p:first-of-type{
	grid-row-start: 4;
}

main section:nth-child(3) ul:last-child li p:last-of-type{
	grid-row-start: 2;
	justify-self: end;

	background-color: var(--color-background);

	width: fit-content;
	padding: 0.7em;

	border-style: solid;
	border-color: #6f6f6f;
}

/* Section 4 */
main section:nth-child(4){
	/* met chatgpt prompt: hoe zet ik een zwarte transparante overlay op een background image */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url("../images/partnerstore.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 90vh;
	margin: 1em;
	align-content: center;
}

main section:nth-child(4) h2{
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

main section:nth-child(4) a{
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-background);

	border-style: solid;
	padding: 1em;
	display: flex;
}

/* Section 5 */
main section:nth-child(5) h2{
	text-align: center;
	font-size: 1.5em;

	letter-spacing: normal;
}

main section:nth-child(5) form{
	display: flex;
	flex-direction: column;
}

main section:nth-child(5) form label{
	display: flex;
	flex-direction: column;

	font-size: 0; 
}

main section:nth-child(5) form label input[type="text"], input[type="email"]{
	padding: 1em;
	
	border-style: solid;
	border-color: var(--color-text);
	border-width: 0.1em;
}


main section:nth-child(5) form label input[type="submit"]{
	background-color: var(--color-accent);
	padding: 1em;
	margin-top: 3em;
	width: max-content;

	border: none;
	color: var(--color-background);
	align-self: center;

	cursor: pointer;
}