/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/* Fonts */

@font-face {
	font-family: "Sonny";
	src: url(../fonts/Sonny.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-text: #6f6f6f;
	--color-header: #2e2e2e;
	--color-background: #ffffff;
	--second-color-background: white; 
	--color-accent: #f3a5aa;
	--second-color-accent: #f7cdcf;
	--color-light-grey: #F5F5F5;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html{
	scroll-behavior: smooth;
	font-family: "Sonny";
}

body{
	margin: 0;
}

main section{
	padding: 1em;
}


/****************/
/* JOUW STYLING */
/****************/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header img{
	width: 10em;
	height: auto;

	order: 0;
}

header button{
	background: none;
	border: none;
}

/* hamburger menu van codepen 2-buttons opdracht */
header nav:first-of-type {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;

	translate: -100% 0%;
	transition: 0.3s;

	background-color: white;
}

header nav:first-of-type.toonMenu{
	translate: 0% 0%;
} 

header nav:first-of-type ul{
	list-style-type: none;
}

header nav:first-of-type button{
	background-color: var(--color-header);
	padding: 0.7em;
	
	color: var(--color-background);
	text-transform: uppercase;
	font-size: 1em;
}

header nav:first-of-type button::after{
	content: 'â†';
	font-size: 1.5em;
}

header nav:first-of-type ul li{
	line-height: 2em;
}

header nav:first-of-type ul li a{
	text-decoration: none;
	color: var(--color-header);
	font-weight: 500;
}

header nav:last-child ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0;
	margin: 0;

	order: 1;
}

header > button{
	order: -1;
	cursor: pointer;
}

/* Header desktop view */
@media (min-width:57em){
	header > button{
		display: none;
	}

	header nav:first-of-type{
		position: static;
		translate: unset;
		padding: 0;

		background: none;
	}

	header nav:first-of-type button{
		display: none;
	}

	header nav:first-of-type ul{
		display: flex;
		gap: 1em;
	}

	header nav:first-of-type ul li a{
		flex-direction: column;
		border: none;

		color: var(--color-accent);
		text-transform: uppercase;
	}

	header nav:first-of-type ul li a:last-of-type{
		flex-direction: column;
	}
}




/* footer */
footer{
	background-color: var(--color-light-grey);
	
	display: flex;
	flex-direction: column;

	font-family: "Sonny";
	font-size: 0.8em;
	color: var(--color-text);

	margin-top: 2em;
}

footer h2{
	align-self: center;
	padding-top: 4em;
}

footer h2 img{
	width: 15em;
	height: auto;
}

footer p{
	text-align: center;
	line-height: 2em;
	margin-bottom: 4em;
}

footer nav h3{
	color: var(--color-header);
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
}

footer nav ul{
	justify-items: center;
	padding: 0;
}

footer nav ul li a{
	color: var(--color-text);
	line-height: 2.5em;

	text-decoration: none;
}

footer nav:last-of-type{
	background-color: var(--color-accent);
}

footer nav:last-of-type a svg{
	fill: white;
}

footer nav:last-of-type p{
	color: var(--color-background);
}

footer nav:last-of-type img{
	width: 35em;
	height: auto;
}

/* desktop footer */
@media (min-width:57em){
	footer nav{
		flex-direction: row;
	}
}



