/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/* Fonts */

@font-face {
	font-family: "Sonny";
	src: url(../fonts/Sonny.woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	--color-dark-grey: #6f6f6f;
	--color-black: #2e2e2e;
	--color-white: white; 
	--color-dark-pink: #f3a5aa;
	--color-light-pink: #f7cdcf;
	--color-light-grey: #F5F5F5;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html{
	scroll-behavior: smooth;
	font-family: "Sonny";
}

body{
	margin: 0;
}

main section{
	padding: 1em;
}


/****************/
/* JOUW STYLING */
/****************/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


header img{
	width: 10em;
	height: auto;

	order: 0;
}

header button{
	background: none;
	border: none;
}

/* hamburger menu van codepen 2-buttons opdracht */
header nav:first-of-type {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;

	translate: -100% 0%;
	transition: 0.3s;

	background-color: var(--color-white);
}

header nav:first-of-type.toonMenu{
	translate: 0% 0%;
} 

header nav:first-of-type ul{
	list-style-type: none;
}

header nav:first-of-type button{
	background-color: var(--color-black);
	padding: 0.7em;
	
	color: var(--color-white);
	text-transform: uppercase;
	font-size: 1em;
}

header nav:first-of-type button::after{
	content: 'â†';
	font-size: 1.5em;
	padding-left: 1em;
}

header nav:first-of-type ul li{
	line-height: 2em;
}

header nav:first-of-type ul li a{
	text-decoration: none;
	color: var(--color-black);
	font-weight: 500;
}

header nav:last-child ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0;
	margin: 0;

	order: 1;
}

header > button{
	order: -1;
	cursor: pointer;
}

/* Header desktop view */
@media (min-width:57em){
	header > button{
		display: none;
	}

	header nav:first-of-type{
		position: static;
		translate: unset;
		padding: 0;

		background: none;
	}

	header nav:first-of-type button{
		display: none;
	}

	header nav:first-of-type ul{
		display: flex;
		gap: 1em;
	}

	header nav:first-of-type ul li a{
		flex-direction: column;
		border: none;

		color: var(--color-dark-pink);
		text-transform: uppercase;
	}

	header nav:first-of-type ul li a:last-of-type{
		flex-direction: column;
	}
}


/* footer */
footer{
	background-color: var(--color-light-grey);
	
	display: flex;
	flex-direction: column;

	font-family: "Sonny";
	font-size: 0.8em;
	color: var(--color-dark-grey);

	margin-top: 2em;
}

footer section:first-of-type{
	align-self: center;
	padding-top: 4em;
}

footer section:first-of-type h2 img{
	width: 15em;
	height: auto;
}

footer section:first-of-type p{
	text-align: center;
	line-height: 2em;
	margin-bottom: 4em;
}

footer nav h3{
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
}

footer nav ul{
	justify-items: center;
	padding: 0;
}

footer nav ul li a{
	color: var(--color-dark-grey);
	line-height: 2.5em;

	text-decoration: none;
}

footer section:last-of-type{
	background-color: var(--color-dark-pink);
}

footer section:last-of-type a{
	align-items: center;
}

footer section:last-of-type a svg{
	fill: white;
}

footer section:last-of-type p{
	color: var(--color-white);
}

footer section:last-of-type img{
	width: 100%;
	height: auto;
}

/* desktop footer */
@media (min-width:57em){
	footer{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	footer section h2{
		justify-self: center;
	}

	footer section:last-of-type{
		grid-column-start: 1;
		grid-column-end: -1;

		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	footer section:last-of-type a{
		justify-self: flex-start;
	}

	footer section:last-of-type img{
		height: 2em;
		width: max-content;
	}
}



